ThermoFun_lib/ThermoFun.pro.user
docs/devel.txt
docs/info.txt
docs/unknowns.txt
gui/ThermoFun-gui.pro.user
tests/unit01/ThermoFun-test.pro.user
tests/unit02/HKF-test.pro.user
tests/unit03/AD-test.pro.user
tests/unit04/IO-test.pro.user
tests/unit05/IO-autoOutput-test.pro.user
tests/autoTest/autoTest.pro.user
tests/boostTest/boostTest.pro.user
tests/unit06/H2OZD2005-test.pro.user
tests/gUnitTest/gUnitTest.pro.user
tests/interfaceTest/interfaceTest.pro.user
tests/dbclientTest/dbclientTest.pro.user
src/*.autosave
tests/unit01/src/*.autosave

tests/autoTest/ThirdParty/modules/InstallThirdPartyLibs-old.cmake
tests/autoTest/install-thirdparty-old.sh
tests/dbclientTest/ThirdParty/modules/InstallThirdPartyLibs-old.cmake
tests/dbclientTest/install-thirdparty-old.sh
tests/interfaceTest/ThirdParty/modules/InstallThirdPartyLibs-old.cmake
tests/interfaceTest/install-thirdparty-old.sh
tests/reactionsTest/ThirdParty/modules/InstallThirdPartyLibs-old.cmake
tests/reactionsTest/install-thirdparty-old.sh
tests/reactionsTest/reactionsTest.pro.user
tests/interfaceTest/CMakeCache.txt
tests/interfaceTest/CMakeFiles/
tests/interfaceTest/Makefile
tests/interfaceTest/cmake_install.cmake
tests/interfaceTest/include/
tests/interfaceTest/install_manifest.txt
tests/interfaceTest/lib/
tests/interfaceTest/thirdparty/


