ThermoFun_lib/ThermoFun.pro.user
docs/devel.txt
docs/info.txt
docs/unknowns.txt
gui/ThermoFun-gui.pro.user
tests/unit01/ThermoFun-test.pro.user
tests/unit02/HKF-test.pro.user
tests/unit03/AD-test.pro.user
tests/unit04/IO-test.pro.user
tests/unit05/IO-autoOutput-test.pro.user
tests/autoTest/autoTest.pro.user
tests/boostTest/boostTest.pro.user
tests/unit06/H2OZD2005-test.pro.user
tests/gUnitTest/gUnitTest.pro.user
tests/interfaceTest/interfaceTest.pro.user
src/*.autosave
tests/unit01/src/*.autosave
