name: thermofun

{% set python_version = os.environ.get("PY_VER", "3.7") %}

dependencies:
  - setuptools=59.7.0
  - pip
  - gxx_linux-64=9.4.0  # [linux]
  - cmake>=3.13
  - ninja
  - clcache  # [win]
  - ccache  # [unix]
  - clangxx_osx-64  # [osx]
  - pybind11
  - nlohmann_json
 # - spdlog=1.11.0
 # - fmt=9.1.0
  - chemicalfun=0.1.6
  - python={{ python_version }}
  - pytest
  - vs2019_win-64  # [win]
  - pip:
    - mkdocs
    - mkdocs-material
    - mkdocs-macros-plugin

environment:

  PYTHONPATH:
    - {{ root }}/artifacts/python/lib/python{{ python_version }}/site-packages   # [unix]
    - {{ root }}/build/lib/python{{ python_version }}/site-packages              # [unix]
    - {{ root }}/build/lib64/python{{ python_version }}/site-packages            # [unix]
    - {{ root }}\artifacts\python\Lib\site-packages                              # [win]
    - {{ root }}\build\lib\python{{ python_version }}\site-packages              # [win]

  LD_LIBRARY_PATH:                                                   # [unix]
    - {{ root }}/artifacts/lib                                       # [unix]

  PATH:                                                              # [win]
    - {{ root }}\artifacts\bin                                       # [win]
